main,
header {
    width: 60%;
    margin: auto;
}

header {
    margin-bottom: 50px;
}

form {
    padding: 80px;
}

span {
    white-space: nowrap;
}

input {
    text-align: center;
}

.form_box {
    display: flex;
    align-items: center;
}

.edit_font{
    font-size: large;
    width: 250px;
}

.label_width {
    width: 70%;
    margin: auto;
}