header {
	width: 60%;
	margin: auto;
	padding: 1rem 2rem;
	background-color: rgba(83, 198, 115, 0.3);
}

.title {
	font-size: xx-large;
	color: black;
}


/* バナーボタンのデザイン */
a.btn_01 {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 100px;
	margin: 10px;
	padding: 10px;
	font-weight: bold;
	border: 2px solid #27C654;
	background: #27C654;
	color: #fff;
	transition: 0.5s;
}

a.btn_01:hover {
	color: #27C654;
	background: #fff;
}


/* バナーボタンの位置 */
.menu_btn {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Index 学生名リスト */
ul.cp_list {
	position: relative;
	width: 60%;
	padding: 5px;
	margin: auto;
	border: solid 1px #27C654;
	list-style-type: none;

}

ul.cp_list li {
	display: flex;
	padding: 5px 10px 5px 10px;
	border-bottom: 1px dashed #27C654;
}

/* リスト用 ボタン位置 */
.listbtn_01 {
	flex: 1;
	margin-left: auto;
	text-align: right;
}

ul.cp_list li::before {
	position: absolute;
	left: 5px;
}

ul.cp_list li:last-of-type {
	border-bottom: none;
}

.student_name {
	width: 200px;
}

/* 生徒追加登録 */
.add_student{
	width: 60%;
	margin: auto;
}