/* フォーム全体を中央揃えに設定 */
.center-form { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
} 

/* .form-row内の要素を中央揃えに設定 */ 
.form-row { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 10px; /* 間隔を適宜調整 */ 
} 

/* ボタンのスタイル */ 
button { 
    margin-left: 10px; 
    padding: 5px 10px; 
    border: none; 
    background-color: #166ab5; 
    color: #fff; 
    border-radius: 3px; 
    cursor: pointer; 
} 

button:hover { 
    background-color: #145a91; 
}

/* flexboxを利用して要素を縦に並べる */ 
div { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 10px; 
    /* 間隔を調整 */ 
}